<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>Archetype Created Web Application</display-name>

	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>br.com.synchro.jsf.filter.AuthorizationFilter</filter-class>		
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Change to "Production" when you are ready to deploy -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>

	<!-- Welcome page -->
	<welcome-file-list>
		<welcome-file>faces/login.xhtml</welcome-file>
	</welcome-file-list>

	<!-- JSF mapping -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Map these files with JSF -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>


	<!-- <filter>
		<filter-name>tenancy-filter</filter-name>
		<filter-class>br.com.synchro.web.filter.TenancySelectorFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>tenancy-filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->

	<servlet>
		<servlet-name>call-servlet</servlet-name>
		<servlet-class>br.com.synchro.web.servlet.CallServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>call-servlet</servlet-name>
		<url-pattern>/call</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>hibernate-servlet</servlet-name>
		<servlet-class>br.com.synchro.web.servlet.HibernateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>hibernate-servlet</servlet-name>
		<url-pattern>/hibernate</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>tenancy-servlet</servlet-name>
		<servlet-class>br.com.synchro.web.servlet.MultiTenancyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tenancy-servlet</servlet-name>
		<url-pattern>/tenancy</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>context-tenancy-servlet</servlet-name>
		<servlet-class>br.com.synchro.web.servlet.ContextTenancyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>context-tenancy-servlet</servlet-name>
		<url-pattern>/context-tenancy</url-pattern>
	</servlet-mapping>

</web-app>
